<div class="container">
    <div id="signupbox" style="margin-top:10px; padding-top: 10px; align: center;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" style="height: 480px; width: 460px; margin: 10px; align: center;" >
                <div class="panel-heading">
                    <div class="panel-title text-center" >Sign Up</div>
                </div>
                <div style="height: 400px; width: 440px; margin: 10px; align: center;" class="panel-body" >
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    <form id="signupform" class="form-horizontal" role="form" style="height: 250px; width: 380px; padding: 2%; align: center;">
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>
                        <div style="margin-bottom: 20px" class="input-group">

                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <%= f.email_field :email, autofocus: true, class: 'form-control', autofocus: true, placeholder: 'Email' %>
                        </div>
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <!--<input id="login-password" type="password" class="form-control" name="password" placeholder="password">-->
                            <%= f.password_field :password, autocomplete: "off", class: 'form-control' , autofocus: true, placeholder: 'Password' %>
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">

                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', autofocus: true, placeholder: 'Password Confirmation' %>

                        </div>
                        <div style="margin-top:10px" class="form-group">
                                <!-- Button -->
                            <div class="col-sm-12 controls">
                                <!--  <a id="btn-login" href="#" class="btn btn-success">Login  </a> -->
                               <%= f.submit "Sign Up", class: "btn btn-primary" %>
                            </div>
                        </div>
                        <% end %>
                        <div class="form-group">
                            <div class="col-md-12 control">
                              <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                <%= render "devise/shared/links" %>
                                </div>
                              </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
-->
