
<%= form_for(@lobby) do |f| %>
  <% if @lobby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lobby.errors.count, "error") %> prohibited this lobby from being saved:</h2>

      <ul>
      <% @lobby.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= @users.each do |user| %>
  <div class="actions">
    <%= f.label user.name %>
    <label>
    <%= f.submit "Create A Game" %>
    </label>
  </div>
  <% end %>
<% end %>
