<p id="notice"><%= notice %></p>

<h1>Listing Test Names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_names.each do |test_name| %>
      <tr>
        <td><%= test_name.name %></td>
        <td><%= link_to 'Show', test_name %></td>
        <td><%= link_to 'Edit', edit_test_name_path(test_name) %></td>
        <td><%= link_to 'Destroy', test_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test name', new_test_name_path %>
