<!DOCTYPE html>
<html>
<head>
  <title>Deuces</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>


    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
	<li><a href="login.html.erb">Login/Register</a></li>
      </li>
    </ul>
  </div>
</nav>

<div class = "container">
  <hr>
  <div class="row">
    <div class = "col-md-6">
      <button type = "button">Join A Game</button>
    </div>
    <div class = "col-md-7">
      <button type = "button">Start A Game</button>
    </div>
  </div>
</div>

</body>
</html>
